<div class="h-full w-full relative">
  <div
    class="absolute top-0 left-0 bottom-0 right-0 grid grid-cols-8 grid-rows-8 justify-items-stretch"
    {{on 'click' (fn this.resetClick)}}
  >
    <Times @times={{8}} as |x|>
      <Times @times={{8}} as |y|>
        <div
          class="{{if (isodd (add x y)) 'bg-black' 'bg-white text-black'}}
             flex items-center justify-center"
        >
        </div>
      </Times>
    </Times>
  </div>
  <div
    class="absolute top-0 left-0 bottom-0 right-0 grid grid-cols-8 grid-rows-8 justify-items-stretch"
    style="pointer-events: none;"
  >
    {{#each this.args.game.pieces as |piece|}}
      <div
        class="flex items-center justify-center text-red-700 row-start-{{add piece.y 1}} col-start-{{add piece.x 1}} {{if piece.active 'bg-purple-600 bg-opacity-50'}}"
        style="pointer-events: all;"
        {{on 'click' (fn this.toggleActive piece)}}
      >
        <img
          src="/chess/{{if piece.isWhite 'white' 'black'}}/{{piece.type}}.svg"
          style="object-fit: contain; width:80%; height: 80%; image-rendering: pixelated; image-rendering: -moz-crisp-edges; image-rendering: crisp-edges;"
        />
      </div>
    {{/each}}
  </div>
  <div
    class="absolute top-0 left-0 bottom-0 right-0 grid grid-cols-8 grid-rows-8 justify-items-stretch"
    style="pointer-events: none;"
  >
    {{#each this.args.game.options as |option|}}
      <div
        class="flex items-center justify-center text-red-700 row-start-{{add option.y 1}} col-start-{{add option.x 1}} bg-gray-700 bg-opacity-50"
        style="pointer-events: all; width: 100%; height: 100%;"
        {{on 'click' (fn this.clickOption option.x option.y)}}
      ></div>
    {{/each}}
  </div>
</div>
