{{page-title 'Account'}}
{{#if this.auth.user.name}}
  <div class="flex flex-col gap-5">
    <span>
      Welcome to your account page
      {{this.auth.user.name}}
      .
    </span>
    <span>
      For the moment you can only log out.
    </span>
    <button
      class="p-2 flex items-center justify-center rounded-md text-xl bg-blue-300 text-white"
      type="button"
      {{on 'click' this.doLogout}}
    >
      Log out
    </button>
  </div>
{{else}}
  <div class="flex-auto flex space-x-2 md:space-x-8">
    <div class="w-1/2">
      <div class="p-8 flex flex-col space-y-2 md:space-y-8">
        <input
          type="text"
          class="text-gray-800 bg-white rounded-md py-2 px-4"
          placeholder="Name"
          value={{this.register.name}}
          {{on 'input' (fn this.updateName 'register')}}
        />
        <input
          type="text"
          class="text-gray-800 bg-white rounded-md py-2 px-4"
          placeholder="password"
          value={{this.register.password}}
          {{on 'input' (fn this.updatePw 'register')}}
        />
        <button
          class="p-2 flex items-center justify-center font-bold rounded-md text-xl bg-blue-300 text-white"
          type="button"
          {{on 'click' this.doRegister}}
        >
          Register!
        </button>
      </div>
    </div>
    <div class="w-1/2">
      <div class="p-8 flex flex-col space-y-2 md:space-y-8">
          <input
            type="text"
            class="text-gray-800 bg-white rounded-md py-2 px-4"
            placeholder="Name"
            value={{this.login.name}}
            {{on 'input' (fn this.updateName 'login')}}
          />
          <input
            type="text"
            class="text-gray-800 bg-white rounded-md py-2 px-4"
            placeholder="password"
            value={{this.login.password}}
            {{on 'input' (fn this.updatePw 'login')}}
          />
        <button
          class="p-2 flex items-center justify-center rounded-md font-bold text-xl bg-blue-300 text-white"
          type="button"
          {{on 'click' this.doLogin}}
        >
          Log in!
        </button>
      </div>
    </div>
  </div>
{{/if}}
